<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/create-new.notes.css">
    <title>Crete new Notes</title>
</head>

<body>
    <h1 class="title">Create new Notes</h1>
    <div class="container">

        <form>
            <label for="title">Title</label>
            Titel: <input type="text" id="notes_title" placeholder="Title">
            <label for="subject">Beschreibung</label>
            <textarea id="subject" name="subject" placeholder="Todo..."></textarea>
    </form>
    <button type="submit" id="button_save" style="width: 100%; height: 50px; border-radius: 10px; background: gray;">Speichern</button>
    <ul id="notes_list">
        </ul>
        <script src="/js/index.js"></script>
</body>

</html>
<!-- 
     <div class="container">
        <div class="new_notes">
            <p class="notes_title">Title</p>
            <input class="notes_input" type="text">
        </div>
    </div>
    <div class="write_container">
        <div class="write_notes">
            <label class="write_title">Beschreibung</label>
            <textarea  class="write_input" name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="icons">
        <h3>Wichtigkeit</h3>
        <div class="notes_icons"></div>
    </div>
    <button id="buttonyellow">
        Change color To yellow
    </button>
    <button id="buttonred">Change color to red</button>
    <button id="buttongreen">Chenge Color to Green</button>
    <script src="/js/index.js"></script>
    <div id="change"></div>
 -->